.headerContainer {
    z-index: 1;
    position: sticky;
    top: 0;

    background-color: #fafafa;
    box-shadow: 0 0 10px #9c61e6;
    .maxWidthDiv {
        height: 55px;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;

        h2 {
            margin: 0;
        }

        .logoDiv {
            flex-grow: 1;
            display: flex;
            align-items: center;

            img {
                width: 45px;
                margin-right: 20px;
                animation: mymove 3s infinite;
            }

            @keyframes mymove {
                from {
                    transform: rotateY(0deg);
                }
                to {
                    transform: rotateY(360deg);
                }
            }
        }

        .cartDiv {
            padding: 3px 0;
            width: 80px;
            display: flex;
            align-items: center;

            .imgCont {
                position: relative;
                cursor: pointer;
                img {
                    width: 23px;
                    opacity: 0.7;
                }

                .countDiv {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-color: #833ae0;
                    color: white;
                    min-width: 16px;
                    min-height: 16px;
                    border-radius: 100%;
                    font-size: 11px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .myProfile {
            position: relative;
            width: 140px;
            padding: 0 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 15px;
                opacity: 0.7;
            }

            &:hover {
                background-color: white;
                box-shadow: 0 -4px 4px #823ae077;
            }

            span {
                font-size: 14px;
            }

            .registerPopup {
                padding: 10px 10px 20px;
                width: 240px;
                min-height: 50px;
                position: absolute;
                background-color: white;
                top: 55px;
                right: 0;
                box-shadow: 0 4px 4px #823ae042;
                z-index: 1;
                cursor: auto;

                .registerButtons {
                    display: flex;
                    // justify-content: space-between;
                    justify-content: center;
                    
                    button {
                        padding: 6px 0;
                        width: 100%;
                        // width: 100px;
                        border-radius: 2px;
                        border-style: none;
                        cursor: pointer;
                        font-weight: 700;
                    }

                    // .sgnIn {
                    //     background-color: #833ae0;
                    //     color: #fff;
                    // }

                    .sgnOut {
                        // background-color: #f1e6ff;
                        // color: #833ae0;

                        background-color: #833ae0;
                        color: #fff;
                    }
                }

                p {
                    margin: 7px 0;
                    span {
                        font-weight: bold;
                    }
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #06c;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0 0 5px;

                    li {
                        display: block;
                        line-height: 32px;
                        height: 32px;
                        white-space: nowrap;
                        cursor: pointer;
                        opacity: 0.8;

                        &:hover {
                            background-color: #b4a2cc52;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
